.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10rem;
    margin-bottom: 8rem;

    @media only screen and (max-width: 900px) {
        grid-gap: 3rem;
        margin-bottom: 4rem;
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
