.indexWrapper {
    margin: 0 10%;

    @media only screen and (max-width: 1200px) {
        margin: 0 3%;
    }
}

.resultModifiers {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3rem solid var(--color-dark);

    @media only screen and (max-width: 900px) {
        justify-content: center;
        flex-wrap: wrap;
        border-bottom: none;
        margin-top: 2rem;
    }
}
