.go2646822163,
.dropdown-container {
    background-color: var(--color-dark);
    border: none;
    padding: 0;
}

.go2139093995 {
    padding: 0;
}

.dropdown-content div {
    background-color: var(--color-dark);
}
