.message {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-light);
        font-size: 4rem;
    }

    h3 {
        font-size: var(--font-size-big);
        font-weight: 200;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    p {
        font-size: var(--font-size-smaller);
        margin: 0;
        text-align: center;
    }

    form {
        .buttons {
            display: flex;
            justify-content: flex-end;
        }
    }
}
